body {
    margin: 0;

}

header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(3, 80, 80);
    padding: 2.0em;
    padding: 20px;
    margin: 0px;

}

main {
    display: flex;
}

#subtitle {
    font-size: 10px;
    font-weight: bold;
    color: rgb(246, 239, 239);
    text-align: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    padding: 0px;
}

#heading {
    font-size: 30px;
    font-weight: bold;
    color: rgb(246, 239, 239);
    text-align: center;
    /* background-color: aqua; */
    margin: 0 0 10px 0;
    padding: 0px;
}

.Links {
    /* display: flex; */
    justify-content: flex-start;
    background-color: black;
    margin: 0px;
    padding: 0.5em;
}

.link {
    color: azure;
    padding: 0.5em;
}

.left {
    /* display: inline-block; */
    background-color: lightgray;
    width: 35%;
    padding: 10px;
}

.right {
    /* justify-content: flex-start; */
    /* background-color: lightgray; */
    width: 65%;
    padding: 10px;
}

.left_upper_img{
    background-color: darkgray;
    padding: 2.0em;
}
.left_lower_img{
    background-color: darkgray;
    padding: 1.5em;
    margin-bottom: 0.2em;
}
.right_img{
    background-color: darkgray;
    padding: 2.0em;
}

footer{
    background-color: gray;
    padding: 5px;
    margin: 0px;
    text-align: center;

}